In [1]:
import numpy as np
import pandas as pd

In [2]:
path = 'C:/Users/khoat/OneDrive - National Economics University/Desktop/1. Study/3.1. Data Preparation & Visualiazation/data/'

Load dataset nyc_weather_2018 and weather_stations, then calculate the average elevation of stations that calculate ‘SNOW’ and contains ‘NJ US’ in its name.

In [3]:
nyc = pd.read_csv(path + 'nyc_weather_2018.csv')
weather_stations = pd.read_csv(path + 'weather_stations.csv')

In [4]:
weather_stations.rename(columns={'id' :'station'},inplace = True)

In [5]:
nyc.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [6]:
weather_stations.head()

,station,name,latitude,longitude,elevation
0,GHCND:US1CTFR0022,"STAMFORD 2.6 SSW, CT US",41.064100,-73.577000,36.6
1,GHCND:US1CTFR0039,"STAMFORD 4.2 S, CT US",41.037788,-73.568176,6.4
2,GHCND:US1NJBG0001,"BERGENFIELD 0.3 SW, NJ US",40.921298,-74.001983,20.1
3,GHCND:US1NJBG0002,"SADDLE BROOK TWP 0.6 E, NJ US",40.902694,-74.083358,16.8
4,GHCND:US1NJBG0003,"TENAFLY 1.3 W, NJ US",40.914670,-73.977500,21.6

In [7]:
nyc.drop_duplicates(inplace= True)
weather_stations.drop_duplicates(inplace= True)

In [8]:
weather_snow = nyc[nyc.datatype == 'SNOW']
station_us = weather_stations[weather_stations.name.str.contains('NJ US')]

In [9]:
info = weather_snow.merge(station_us, on= 'station')
info.head()

,date,datatype,station,attributes,value,name,latitude,longitude,elevation
0,2018-01-01T00:00:00,SNOW,GHCND:US1NJBG0015,",,N,",0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",40.791492,-74.13979,17.7
1,2018-01-02T00:00:00,SNOW,GHCND:US1NJBG0015,",,N,",0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",40.791492,-74.13979,17.7
2,2018-01-03T00:00:00,SNOW,GHCND:US1NJBG0015,",,N,",0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",40.791492,-74.13979,17.7
3,2018-01-04T00:00:00,SNOW,GHCND:US1NJBG0015,",,N,",229.0,"NORTH ARLINGTON 0.7 WNW, NJ US",40.791492,-74.13979,17.7
4,2018-01-06T00:00:00,SNOW,GHCND:US1NJBG0015,",,N,",0.0,"NORTH ARLINGTON 0.7 WNW, NJ US",40.791492,-74.13979,17.7

In [10]:
info.drop_duplicates('station').elevation.mean()

58.34848484848487

Load the fb dataset, then:
• Calculate the percentage change between that and and last day in volumn (pct_change method)
• Sort the dataframe by percentage change then get five days that have the biggest change.

In [11]:
fb = pd.read_csv(path + 'fb_2018.csv')

In [12]:
fb['pct_change'] = abs(fb.volume.pct_change())

In [13]:
fb.head()

         date    open    high       low   close    volume  pct_change
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903         NaN
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563    0.069708
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896    0.177992
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535    0.022071
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726    0.325624

In [14]:
fb.sort_values(by='pct_change', ascending=False).head(5)

           date    open    high     low   close     volume  pct_change
8    2018-01-12  178.06  181.48  177.40  179.37   77551299    7.087876
52   2018-03-19  177.01  177.17  170.06  172.56   88140060    2.611789
142  2018-07-26  174.89  180.13  173.75  176.26  169803668    1.628841
182  2018-09-21  166.64  167.25  162.81  162.93   45994800    1.428956
57   2018-03-26  160.82  161.10  149.02  160.06  126116634    1.352496

Create bins for each full number of earthquake magnitude (for instance, the first bin is (0, 1], the second is (1, 2], and so on) with the ml magnitude type and count how many are in each bin.

In [15]:
earthquake = pd.read_csv(path + 'earthquakes.csv')
earthquake = earthquake[earthquake.magType == 'ml']

In [16]:
earthquake.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
6,NaN,NaN,20280432,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280432,",1.70,ml,...,",ak,",automatic,1539473176017,"M 1.7 - 105km W of Talkeetna, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539473596465,https://earthquake.usgs.gov/earthquakes/eventp...

In [17]:
mag_bin = pd.cut(earthquake.mag, bins = [0,1,2,3,4,5], labels=['very low', 'low', 'medium', 'high', 'very high'])

In [18]:
mag_bin.value_counts()

low          3105
very low     2207
medium        862
high          122
very high       2
Name: mag, dtype: int64

Load the dataset weather_by_station then:
• Calculate the mean value each station recorded snow per month.
• Count the number of times each station recorded snow per month.

In [19]:
weather_by_station = pd.read_csv(path + 'weather_by_station.csv')
weather_by_station = weather_by_station.assign(date=lambda x: pd.to_datetime(x.date))

In [20]:
weather_by_station.head()

,date,datatype,station,value,station_name
0,2018-01-01,PRCP,GHCND:US1CTFR0039,0.0,"STAMFORD 4.2 S, CT US"
1,2018-01-01,PRCP,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US"
2,2018-01-01,SNOW,GHCND:US1NJBG0015,0.0,"NORTH ARLINGTON 0.7 WNW, NJ US"
3,2018-01-01,PRCP,GHCND:US1NJBG0017,0.0,"GLEN ROCK 0.7 SSE, NJ US"
4,2018-01-01,SNOW,GHCND:US1NJBG0017,0.0,"GLEN ROCK 0.7 SSE, NJ US"

In [21]:
weather_by_station.groupby(pd.DatetimeIndex(weather_by_station.date).month).mean()

          value
date
1     43.145202
2     42.597200
3     49.652692
4     43.441413
5     42.522763
6     44.351128
7     46.269616
8     48.652158
9     41.326425
10    45.128095
11    43.989320
12    39.458666

In [22]:
weather_by_station.groupby(pd.DatetimeIndex(weather_by_station.date).month).value.count()

date
1     7274
2     6322
3     7263
4     6807
5     6704
6     6337
7     6533
8     6557
9     6369
10    6567
11    6657
12    6866
Name: value, dtype: int64