In [2]:
import pandas as pd

a) Read in the aapl.csv, amzn.csv, fb.csv, goog.csv, and nflx.csv files.

In [3]:
path = 'C:/Users/khoat/OneDrive - National Economics University/Desktop/1. Study/3.1. Data Preparation & Visualiazation/data/'

In [4]:
aapl = pd.read_csv(path + 'aapl.csv')
amzn = pd.read_csv(path + 'amzn.csv')
fb = pd.read_csv(path + 'fb.csv')
goog = pd.read_csv(path + 'goog.csv')
nflx = pd.read_csv(path + 'nflx.csv')

b) Add a column to each dataframe, called ticker, indicating the ticker symbol it is for (Apple's is AAPL, for example); this is how you look up a stock. In this case, the filenames happen to be the ticker symbols.

In [5]:
list1 = [aapl, amzn, fb, goog, nflx]
list2 = ['AAPL', 'AMZN', 'FB', 'GOOG', 'NFLX']
for i in range(len(list1)):
    list1[i]['ticker'] = [list2[i]] * len(list1[i])

c) Append them together into a single dataframe. (concat)

In [6]:
#frames = [aapl, amzn, fb, goog, nflx]
faang = pd.concat([aapl, amzn, fb, goog, nflx])

In [7]:
faang.head()

         date       high        low       open      close       volume ticker
0  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0   AAPL
1  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0   AAPL
2  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0   AAPL
3  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0   AAPL
4  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0   AAPL

d) Save the result in a CSV file called faang.csv. (to_csv)

In [8]:
faang.to_csv(path + 'faang.csv')

e) With faang, use type conversion to cast the values of the date column into datetimes and the volume column into integers. Then, sort by date and ticker.

In [9]:
faang = faang.assign(
    date=lambda x: pd.to_datetime(x.date),
    volume=lambda x: x.volume.astype('int')
)

In [10]:
faang.sort_values(by=['date', 'ticker'])

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600,AAPL
0,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,AMZN
0,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,FB
0,2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600,GOOG
0,2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900,NFLX
...,...,...,...,...,...,...,...
250,2018-12-31,39.840000,39.119999,39.632500,39.435001,140014000,AAPL
250,2018-12-31,1520.760010,1487.000000,1510.800049,1501.969971,6954500,AMZN
250,2018-12-31,134.639999,129.949997,134.449997,131.089996,24625300,FB
250,2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300,GOOG
250,2018-12-31,270.100006,260.000000,260.160004,267.660004,13508900,NFLX

f) Find the seven rows in faang with the lowest value for volume

In [11]:
faang.sort_values(by=['volume'], ascending = True).head(7)

,date,high,low,open,close,volume,ticker
126,2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000,GOOG
226,2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500,GOOG
99,2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800,GOOG
130,2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400,GOOG
152,2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600,GOOG
159,2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800,GOOG
161,2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,887400,GOOG

a) Read in the covid19_cases.csv file.

In [13]:
covid = pd.read_csv(path + 'covid19_cases.csv')

b) Create a date column using the data in the dateRep column and the pd.to_datetime() function.

In [15]:
covid['date'] = pd.to_datetime(covid.dateRep)

c) Set the date column as the index and sort the index.

In [16]:
covid.set_index('date', inplace = True)

In [18]:
covid.sort_index(axis = 1).head()

,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,cases,continentExp,countriesAndTerritories,countryterritoryCode,dateRep,day,deaths,geoId,month,popData2019,year
date,,,,,,,,,,,,
2020-01-01,NaN,0,Europe,Lithuania,LTU,01/01/2020,1,0,LT,1,2794184.0,2020
2020-01-01,NaN,0,Europe,Iceland,ISL,01/01/2020,1,0,IS,1,356991.0,2020
2020-01-01,NaN,0,Asia,Nepal,NPL,01/01/2020,1,0,NP,1,28608715.0,2020
2020-01-01,NaN,0,Europe,San_Marino,SMR,01/01/2020,1,0,SM,1,34453.0,2020
2020-01-01,NaN,0,America,Canada,CAN,01/01/2020,1,0,CA,1,37411038.0,2020

d) Replace all occurrences of United_States_of_America and United_ Kingdom with USA and UK, respectively. Hint: the replace() method can be run on the dataframe as a whole.

In [19]:
covid.replace('United_States_of_America', 'USA', inplace = True)
covid.replace('United_Kingdom', 'UK', inplace = True)

e) Using the countriesAndTerritories column, filter the cleaned COVID-19 cases data down to Argentina, Brazil, China, Colombia, India, Italy, Mexico, Peru, Russia, Spain, Turkey, the UK, and the USA.

In [52]:
country_list = ['Argentina','Brazil','China','Columbia','India','Italy','Mexico','Peru','Russia','Spain','Turkey','UK','USA']
filtered_covid = covid[covid.countriesAndTerritories.isin(country_list)]
filtered_covid
filtered_covid.head(10)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date,,,,,,,,,,,,
2020-01-01,01/01/2020,1,1,2020,0,0,India,IN,IND,1.366418e+09,Asia,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,China,CN,CHN,1.433784e+09,Asia,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Mexico,MX,MEX,1.275755e+08,America,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,USA,US,USA,3.290649e+08,America,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Spain,ES,ESP,4.693706e+07,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Italy,IT,ITA,6.035955e+07,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Brazil,BR,BRA,2.110495e+08,America,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,Russia,RU,RUS,1.458723e+08,Europe,NaN
2020-01-01,01/01/2020,1,1,2020,0,0,UK,UK,GBR,6.664711e+07,Europe,NaN
2020-02-01,02/01/2020,2,1,2020,0,0,China,CN,CHN,1.433784e+09,Asia,NaN

f) Pivot the data so that the index contains the dates, the columns contain the country names, and the values are the
case counts (the cases column). Be sure to fill in NaN values with 0.

In [53]:
pivot_covid = filtered_covid.pivot(index = 'dateRep', columns = 'countriesAndTerritories', values='cases')
pivot_covid.fillna(0, inplace = True)
pivot_covid

countriesAndTerritories,Argentina,Brazil,China,India,Italy,Mexico,Peru,Russia,Spain,Turkey,UK,USA
dateRep,,,,,,,,,,,,
01/01/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
01/02/2020,0.0,0.0,2095.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,2.0,1.0
01/03/2020,0.0,1.0,574.0,0.0,240.0,2.0,0.0,0.0,28.0,0.0,12.0,3.0
01/04/2020,0.0,1138.0,54.0,146.0,4053.0,121.0,115.0,501.0,7413.0,2704.0,4273.0,24998.0
01/05/2020,143.0,7218.0,12.0,1993.0,1872.0,1425.0,3045.0,7099.0,1387.0,2615.0,5442.0,29917.0
...,...,...,...,...,...,...,...,...,...,...,...,...
31/01/2020,0.0,0.0,1980.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
31/03/2020,146.0,323.0,84.0,180.0,4050.0,101.0,98.0,302.0,8145.0,1610.0,2858.0,21595.0
31/05/2020,795.0,33274.0,5.0,8380.0,416.0,2885.0,7386.0,8952.0,201.0,983.0,1527.0,23297.0
31/07/2020,5641.0,57837.0,276.0,55078.0,382.0,7730.0,6809.0,5509.0,3092.0,967.0,846.0,68032.0
31/08/2020,9217.0,16158.0,32.0,78512.0,1365.0,4129.0,7731.0,4980.0,23572.0,1482.0,1715.0,35581.0